
.leaf-up {
  z-index: 0;
  width: 50px;
  position: absolute;
  left: 290px;
  top: 260px
}

.leaf-left {
  z-index: 0;
  width: 50px;
  position: absolute;
  left: 30px;
  top: 300px;
}

.leaf-right {
  z-index: 0;
  width: 50px;
  position: absolute;
  left: 430px;
  top: 340px;
}

.leaf-bottom {
  z-index: 0;
  width: 50px;
  position: absolute;
  left: 250px;
  top: 570px;
}
