@import 'snail.scss';
@import 'leaf.scss';

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: fixed;
    background-image: url('http://3.bp.blogspot.com/-c-sl3_i6Ag8/T1H_jcBe2FI/AAAAAAAAdyE/iM1EwByX4j8/s1600/paisajesdebosqueparaimprimir2.jpg');
    background-color: gray;
    background-repeat: repeat-x;
    background-size: auto 100%;
}

#app {
    width: 100vw;
    height: 100vh;
    border-radius: 20px;
}